<div style="text-align:center">
  <h1>The Keg Room</h1>
  <img width="300" alt="Angular Logo" src="../assets/keg.jpg">
</div>

<div class="container">
  <button (click)="employeeLogin()" type="button">Employee login</button>
  <button (click)="employeeLogout()" type="button">Employee logout</button>

  <div class="row">
    <div *ngFor="let thisKeg of kegs" class="card">
      <div class="card-title">
        {{thisKeg.name}}
      </div>
      <div class="card-body">
        <p>{{thisKeg.brand}}</p>
        <p>${{thisKeg.price}}/pint</p>
        <p>{{thisKeg.alcoholContent}}% ABV</p>
      </div>
    </div>

  </div>

  <hr>
  <form *ngIf="employee">
    <label for="newKegName">New keg name:</label>
    <input type="text" name="newKegName"><br>
    <label for="newKegBrand">New keg brand:</label>
    <input type="text" name="newKegBrand"><br>
    <label for="newKegPrice">New keg price (per pint)</label>
    <input type="text" name="newKegPrice"><br>
    <label for="newKegABV">ABV %</label>
    <input type="text" name="newKegABV"><br>
    <button type="button">Add</button>
  </form>

</div>
