<div style="text-align:center">
  <h1>The Keg Room</h1>
  <img width="300" alt="Keg Room Logo" src="../assets/keg.jpg">
</div>

<div class="container">
  <button (click)="employeeLogin()" type="button">Employee login</button>
  <button (click)="employeeLogout()" type="button">Employee logout</button>

  <div class="row">
    <div *ngFor="let thisKeg of kegs" class="card">
      <div class="card-title">
        <h3 [class]="thisKeg.colorCode()">{{thisKeg.name}}</h3>
      </div>
      <div class="card-body">
        <p>{{thisKeg.brand}}</p>
        <p>{{thisKeg.price}}/pint</p>
        <p>{{thisKeg.alcoholContent}}% ABV</p>
        <div style="text-align:center">
          <button (click)="thisKeg.orderPint()" class="btn-success order-button">Order</button>
        </div>
      </div>
    </div>

  </div>
<hr>
<app-add-keg (sendKeg)="addKeg($event)"></app-add-keg>
</div>
